* {
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

button {
    cursor: pointer;
}

.wrapper {
    position: relative;
    width: 380px;
    background-color: hsl(331, 3%, 95%);
    padding: 1.5em;
}

.chosen-skills-list > div {
    display: flex;
}

.chosen-skills-list > div > span {
    width: 5em;
    text-align: right;
    margin-right: 1em;
    align-self: baseline;
    padding: .3em 0;
    text-transform: uppercase;
}

.chosen-skills-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.chosen-skills-list ul li {
    display: inline-block;
    border-radius: 1em;
    background-color: hsl(331, 60%, 75%);
    margin-bottom: .5em;
    padding: .3em .8em;
}

.chosen-skills-list ul li:not(:last-child) {
    margin-right: .3em;
}

.input {
    margin-top: .8em;
}

.input input {
    width: 100%;
}

.results {
    background: hsl(331, 10%, 75%);
    position: absolute;
    width: calc(100% - 3em);
    display: none;
}

.categories {
    padding: 1em .5em 0;
    max-height: 400px;
    overflow-y: scroll;
}

.pick-category {
    margin-top: 0;
    padding: 0 .8em;
}

.category {
    margin-bottom: 1em;
}

.category > button {
    width: 100%;
    text-align: left;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    color:hsl(331, 3%, 50%);
    background: transparent;
    border: none;
    padding: 0 .8em;
    margin-bottom: .5em;
}

.category > button:hover,
.category > button:active,
.category > button:focus {
    color: hsl(331, 3%, 30%);
}

.category > button > span {
    padding-right: 1em;
}

.toggle-content ul {
    margin: 0;
    padding: 0 2em;
    list-style: none;
}

.toggle-content ul li input,
.toggle-content ul li label {
    cursor: pointer;
}

.add-btn {
    width: 100%;
    background:hsl(331, 30%, 50%);
    border: none;
    font-size: 1em;
    padding: .5em;
    color: hsl(331, 3%, 95%);
}

.hidden {
    display: none;
}